div {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}
form {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}
input {
  margin: 5px;
  border-radius: 4px;
  height: 30px;
  padding: 5;
  border: 1px solid red;
}